GtkButton {
    background-image: none;
    background-color: white;
    border-radius: 0px;
    border-color: black;
    font-size: 20px;
    color: black;
}

#myButton_white_nospace{
    background-image: none;
    background-color: white;
}

#myButton_white_nospace_cor{
    background-image: none;
    background-color: #eeff22;
}

#myButton_white_rightspace{
    background-image: none;
    background-color: white;
    border-right-color: black;
    border-right-width: 5px;
}

#myButton_white_rightspace_cor{
    background-image: none;
    background-color: #eeff22;
    border-right-color: black;
    border-right-width: 5px;
}

#myButton_white_bottomspace{
    background-image: none;
    background-color: white;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

#myButton_white_bottomspace_cor{
    background-image: none;
    background-color: #eeff22;
    border-bottom-color: black;
    border-bottom-width: 5px;
}


#myButton_white_intersectionspace{
    background-image: none;
    background-color: white;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
}

#myButton_white_intersectionspace_cor{
    background-image: none;
    background-color: #eeff22;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
}

#myButton_white_nospace_clicked{
    background-image: none;
    background-color: #70ee70;
}

#myButton_white_rightspace_clicked{
    background-image: none;
    background-color: #70ee70;
    border-right-color: black;
    border-right-width: 5px;
}

#myButton_white_bottomspace_clicked{
    background-image: none;
    background-color: #70ee70;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

#myButton_white_intersectionspace_clicked{
    background-image: none;
    background-color: #70ee70;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
}

#myButton_white_nospace_lock{
    background-image: none;
    background-color: white;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_nospace_lock_cor{
    background-image: none;
    background-color: #ff9911;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_rightspace_lock{
    background-image: none;
    background-color: white;
    border-right-color: black;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_rightspace_lock_cor{
    background-image: none;
    background-color: #ff9911;
    border-right-color: black;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_bottomspace_lock{
    background-image: none;
    background-color: white;
    border-bottom-color: black;
    border-bottom-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_bottomspace_lock_cor{
    background-image: none;
    background-color: #ff9911;
    border-bottom-color: black;
    border-bottom-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_intersectionspace_lock{
    background-image: none;
    background-color: white;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 21px;
}

#myButton_white_intersectionspace_lock_cor{
    background-image: none;
    background-color: #ff9911;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 21px;
}

#myButton_white_nospace_lock_clicked{
    background-image: none;
    background-color: #FF3333;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_rightspace_lock_clicked{
    background-image: none;
    background-color: #FF3333;
    border-right-color: black;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_bottomspace_lock_clicked{
    background-image: none;
    background-color: #FF3333;
    border-bottom-color: black;
    border-bottom-width: 5px;
    color: black;
    font: bold;
    font-size: 20px;
}

#myButton_white_intersectionspace_lock_clicked{
    background-image: none;
    background-color: #FF3333;
    border-bottom-color: black;
    border-right-color: black;
    border-bottom-width: 5px;
    border-right-width: 5px;
    color: black;
    font: bold;
    font-size: 21px;
}

GtkButton:hover,
#myButton_white_nospace:hover,
#myButton_white_rightspace:hover,
#myButton_white_bottomspace:hover,
#myButton_white_intersectionspace:hover
{
    background-color: #70ee70;
}
#myButton_white_nospace_lock:hover,
#myButton_white_rightspace_lock:hover,
#myButton_white_bottomspace_lock:hover,
#myButton_white_intersectionspace_lock:hover
{
    background-color: #FF3333;
}
